<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<% haveCalloutPanel = defined? show_callout_panel == "method" && show_callout_panel %>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <%= javascript_include_tag :defaults %>         
        <%= stylesheet_link_tag "default", :media => "all" %>
        <title><%= @title %></title>
    </head>
    <body class="page">
        <div class="center" align="center">
            <div class="wrapper">
                <table cellpadding="0" cellspacing="0" width="100%" class="main">
                    <tr>
                        <td class="left_top_shadow"></td>
                        <td class="top"><div class="top_l">&nbsp;</div></td>
                        <td class="top"><div class="top_r">&nbsp;</div></td>
                        <td class="right_top_shadow"></td>
                    </tr>
                    <tr valign="top">
                        <td class="left_shadow" style="height: 1px; width: 10px"><div style="height: 1px; width: 10px"></div></td>
                        <td width="100%" colspan="2">
                            <table cellpadding="0" cellspacing="0" width="100%" class="inner">
                                <tr valign="top">
                                    <td width="100%">
                                        <div class="masthead">
                                            Community Qur'an
                                            <div class="tag-line">
                                                The Qur'an belongs to us all, not just to scholars. Here you can search it, tag it, learn from it, and share your thoughts on it.
                                            </div>
                                        </div>
                                        <div class="main-menu">
                                            <a href="#">Home</a>
                                            <a href="#">Search</a>
                                            <a href="#">Arabic</a>
                                            <a href="#">Compare</a>
                                            <a href="#">Surahs</a>
                                            <a href="#">Subjects</a>
                                            <a href="#">Comments</a>
                                        </div>
                                        <% havePagePath = defined? page_path == "method" && page_path %>
                                        <% if havePagePath %>
                                        <div class="page-path">
                                            <a class="first" href="?">Home</a>
                                            <a class="middle" href="#">Other Page</a>
                                            <a class="middle" href="#">Another Page</a>
                                            <a class="last" href="#">Active Page</a>
                                        </div>
                                        <% end %>
                                    </td>
                                    <td width="183">
                                        <div class="active-user-panel">
                                            <div class="content">
                                                <div class="heading">Search for</div>
                                                <div class="search">
                                                    <input name="expression" size="17"/><br/>
                                                    In <select name="in">
                                                        <option value="ayahs">Qur'an Ayahs</option>
                                                    </select>
                                                </div>
                                                <div class="heading">User</div>
                                                <div class="user">Shahid N. Shah</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr valign="top">
                                    <td class="main-content-cell" colspan="<%= haveCalloutPanel ? 1 : 2 %>">
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tr valign="top">
                                                <% havePageNavPanel = defined? show_page_navg_panel == "method" && show_page_navg_panel %>
                                                <% if havePageNavPanel %>
                                                <td class="page-navigation-panel" width="164">
                                                    <div class="heading">A Heading</div>

                                                    Some text right underneath the left heading.
                                                    We can put a page-sensitive menu or other information here.
                                                    <br/>
                                                    <ul class="vertical-menu">
                                                        <li><a href="#">Revenge of the Sith</a></li>
                                                        <li><a href="#">Newsflash 1</a></li>
                                                    </ul>

                                                    <div style="height: 1px; width: 164px"></div>
                                                </td>
                                                <td class="page-nav-and-main-content-separator"><div style="height: 10px; width: 1px"></div></td>
                                                <% end %>
                                                <td width="100%">
                                                    <div class="main-content-panel">
                                                        <%if @heading %>
                                                        <div class="heading"><%= @heading %></div>
                                                        <% end %>

                                                        <div class="body">
                                                            <%= yield :layout %>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <% if haveCalloutPanel %>
                                    <td class="callout-panel">
                                        <div class="top"></div>
                                        <div class="content">
                                             This is some text (perhaps help or otherwise) that we can put on the right side.
                                             It could be other context-sensitive help, tips, pointers, etc.
                                             When the text grows the box will grow with it and fade out appropriately.
                                             See how the box is darker at the top than the bottom.
                                            <p/>

                                            <ul class="vertical-menu">
                                                <li><a href="#">Revenge of the Sith</a></li>
                                                <li><a href="#">Newsflash 1</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <% end %>

                                </tr>

                                <tr valign="top">
                                    <td class="footer-bar" colspan="<%= haveCalloutPanel ? 1 : 2 %>">
                                        <div class="footer-menu">
                                            <ul>
                                                <li><a href="#">Links</a></li>
                                                <li><a href="#">Contact Us</a></li>
                                                <li><a href="#">News</a></li>
                                                <li><a href="#">Home</a></li>
                                            </ul>
                                        </div>
                                        <div class="footer-content">{ant.build.version} ({ant.build.date})</div>
                                    </td>
                                    <% if haveCalloutPanel %>
                                    <td class="callout-panel-bottom"><div style="height: 50px; width: 183px"></div></td>
                                    <% end %>
                                </tr>
                            </table>
                        </td>
                        <td class="right_shadow"><div style="height: 1px; width: 10px"></div></td>
                    </tr>
                    <tr>
                        <td class="left_bot_shadow"></td>
                        <td class="bottom"><div class="bottom_l"></div></td>
                        <td class="bottom"><div class="bottom_r"></div></td>
                        <td class="right_bot_shadow"></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
