<select class="surahs">
    <option class="entry">Please select a Surah</option>
    <% for surah in QuranHelper::SURAH_STRUCTS %>
    <option class="surah" >
    <%= surah.name %><br>
    </option>
    <% end %>
</select>