<select class="surahs">
    <option class="entry">Please select a Surah</option>
    <% for surah in surahs %>
    <option class="surah" >
    <%= surah.name %><br>
    </option>
    <% end %>
</select>